<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="template-email.css">
  </head>
  <body>
    <div class="container">
      <p>Olá, #{nome}! <br><br>
         Segue seu código de recuperação de senha: #{codigo} <br>
         Para redefinir sua senha, cole o código informado e sua digite nova senha. 
        <br><br>
         Caso você não tenha solicitado a recuperação, desconsidere esse email.</p>
    </div>

  </body>
</html>